.newsfeed {
    background-color: rgb(240, 242, 245);
}
.newsfeed-nav-bar {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(221, 223, 226);
    position: relative;
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    .newsfeed-nav-logo {
        height: 40px;
        width: 40px;
        margin-left: 16px;
        margin-right: 10px;
    }
    
    .newsfeed-nav-search-bar-wrapper {
        position: relative;
        display: flex;
        align-items: center;

        .newsfeed-nav-search-bar {
            box-sizing: content-box;
            background-color: rgb(240, 242, 245);
            height: 24px;
            width: 208px;
            color: rgb(171,173,176);
            padding: 7px 16px 9px 16px;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .nav-search-bar-glasses {
            font-size: 13px;
            color: rgb(98,105, 114);
            position: relative;
            right: 226px;
            bottom: 1px;
            pointer-events: none;
            transform: scaleY(1.06);
        }

        .hiddenGlasses {
            visibility: hidden;
        }
    }

    .newsfeed-nav-main {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: rgb(101, 103, 107);
        padding: 0px 0px 0px 57px;

        .nav-main {
            box-sizing: content-box;
            height: 56px;
            width: 129.6px;
            padding-top: 3px;
            margin-right: 9px;
            cursor: pointer;

            .nav-main-inner-button {
                width: 129.6px;
                height: 52px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .nav-main-inner-button:hover {
            background-color: rgb(240, 242, 245);
            height: 52px;
            border-radius: 7px;
        }

        .nav-icons {
            font-size: 23px;
            pointer-events: none;
        }
    }

    .newsfeed-nav-user-nav {
        margin-left: auto; 
        margin-right: 0;
        padding-right: 16px;

        .user-nav-components {
            display: flex;
            align-items: center;
            position: relative;
            
            .user-components {
                height: 40px;
                width: 40px;
                background-color: rgb(228, 230, 235);
                border-radius: 40px;
                position: relative;
                
                .user-component-icon {
                    position: absolute;
                    color: rgb(29, 31, 35);
                }

                .icon-arrow-down {
                    font-size: 23px;
                    left: 13px;
                    bottom: 12px;
                }
                
                .icon-bell {
                    font-size: 18.5px;
                    transform: scaleY(.92);
                    left: 12px;
                    bottom: 11px;
                }

                .icon-messanger {
                    font-size: 19px;
                    left: 10px;
                    bottom: 11px;
                }

                .icon-plus {
                    font-family: Nunito, Arial, Helvetica, sans-serif;
                    font-size: 33px;
                    transform: scaleY(.95);
                    left: 10px;
                    bottom: -1px;
                }
            }

            .user-components-left-spacing {
                margin-left: 8px;
            }

            .user-profile-headshot {
                padding: 3px 12px 3px 4px;
                display: flex;
                align-items: center;
                cursor: pointer;
                border-radius: 30px;

                .newsfeed-name {
                    margin-left: 7px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 15px;
                    font-weight: 500;
                    color: #050505;
                }

                .newsfeed-headshot {
                    height: 30px;
                    width: 30px;
                    border-radius: 30px;
                }
            }

            .user-profile-headshot:hover {
                background-color: #f2f2f2;
            }

            .dropdown-menu-shadow-top {
                position: absolute;
                right: 0px;
                top: 45px;
                box-shadow:
                    0 -2px 1px rgba(0, 0, 0, 0.010),
                    0 -4px 3px rgba(0, 0, 0, 0.013),
                    0 -6px 4px rgba(0, 0, 0, 0.016),
                    0 -13px 5px rgba(0, 0, 0, 0.019);
                border-radius: 5px;
                z-index: 2;

                .dropdown-menu {
                    background-color: rgb(255, 255, 255);
                    box-shadow:
                        0 2.3px 1.9px rgba(0, 0, 0, 0.013),
                        0 5.4px 4.3px rgba(0, 0, 0, 0.014),
                        0 9.7px 7.7px rgba(0, 0, 0, 0.015),
                        0 16.1px 12.8px rgba(0, 0, 0, 0.018),
                        0 26.5px 21.2px rgba(0, 0, 0, 0.026),
                        0 46.2px 37px rgba(0, 0, 0, 0.042),
                        0 100px 80px rgba(0, 0, 0, 0.07);
                    border-radius: 5px;

                    .dropdown-components-outer-wrapper {
                        padding: 0px 8px;

                        .dropdown-components-inner-wrapper {
                            padding: 8px 8px;
                            width: 328px;
                            border-radius: 5px;
                            cursor: pointer;

                            .dropdown-components {
                                display: flex;
                                flex-direction: row;
                                align-items: center;

                                .dropdown-user-profile-picture {
                                    height: 60px;
                                    width: 60px;
                                    border-radius: 60px;
                                }

                                .dropdown-user-name-wrapper {
                                    display: flex;
                                    flex-direction: column;
                                    align-content: space-between;
                                    margin: 7px 0px 10px 12px;
                                    height: 40px;
                                    width: 256px;

                                    .dropdown-user-name {
                                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                        font-size: 17px;
                                        font-weight: 500;
                                        padding-bottom: 1.5px;
                                        color: #050505;
                                        font-weight: 500;
                                    }

                                    .dropdown-see-profile {
                                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                        font-size: 15px;
                                        color: #65676B;
                                        padding-top: 1.5px;
                                    }
                                }

                                .dropdown_icon_container {
                                    height: 36px;
                                    width: 36px;
                                    border-radius: 36px;
                                    background-color: rgb(228, 230, 235);
                                    margin-right: 12px;
                                    position: relative;

                                    .dropdown-icon-comment-alt {
                                        position: absolute;
                                        color: rgb(96, 103, 112);
                                        font-size: 20px;
                                        bottom: 7px;
                                        left: 8px;
                                    }

                                    .dropdown-icon-exclamation {
                                        position: absolute;
                                        color: rgb(228, 230, 235);
                                        font-size: 10px;
                                        bottom: 14px;
                                        left: 16px;
                                    }

                                    .dropdown-icon-cog {
                                        position: absolute;
                                        font-size: 20px;
                                        color: rgb(96, 103, 112);
                                        bottom: 8px;
                                        left: 8px;
                                    }

                                    .dropdown-icon-question-circle {
                                        position: absolute;
                                        font-size: 20px;
                                        color: rgb(96, 103, 112);
                                        bottom: 8px;
                                        left: 8px;
                                    }

                                    .dropdown-icon-signout {
                                        position: absolute;
                                        font-size: 20px;
                                        color: rgb(96, 103, 112);
                                        bottom: 8px;
                                        left: 8px;
                                    }

                                }

                                .dropdown-feedback-wrapper {
                                    display: flex;
                                    flex-direction: column;
                                    align-content: space-between;

                                    .dropdown-feedback {
                                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                        font-size: 15px;
                                        color: #050505;
                                    }

                                    .dropdown-improve-facebook {
                                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                        font-size: 13px;
                                        color: #65676B;
                                    }
                                }

                                .dropdown-last-single-row {
                                    display: flex;
                                    flex-direction: row;
                                    width: 280px;
                                    justify-content: space-between;
                                    align-items: center;

                                    .dropdown-single-row-font {
                                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                        font-size: 15px;
                                        color: #050505;
                                    }

                                    .dropdown-greater-than {
                                        font-family: Nunito, Open Sans, Verdana, sans-serif;
                                        font-size: 22px;
                                        color: rgb(96, 103, 112);
                                        transform: scale(1, 1.9);
                                        font-weight: 300;
                                    }

                                    .switch {
                                        position: relative;
                                        display: inline-block;
                                        width: 52px;
                                        height: 29px;
                                        }

                                    .switch input { 
                                        opacity: 0;
                                        width: 0;
                                        height: 0;
                                        }

                                    .slider {
                                        position: absolute;
                                        cursor: pointer;
                                        top: 0;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        background-color: rgb(206, 208, 212);
                                        -webkit-transition: .2s;
                                        transition: .2s;
                                    }

                                    .slider:before {
                                        position: absolute;
                                        content: "";
                                        height: 25px;
                                        width: 25px;
                                        left: 2px;
                                        bottom: 1.5px;
                                        background-color: rgb(255, 255, 255);
                                        -webkit-transition: .2s;
                                        transition: .2s;
                                    }

                                    input:checked + .slider {
                                        background-color: rgb(53, 140, 252);
                                    }

                                    input:checked + .slider:before {
                                        -webkit-transform: translateX(23px);
                                        -ms-transform: translateX(23px);
                                        transform: translateX(23px);
                                    }

                                    .slider.round {
                                        border-radius: 33px;    
                                    }

                                    .slider.round:before {
                                        border-radius: 100%;
                                    }
                                }

                                .dropdown-logout {
                                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                    font-size: 15px;
                                    color: #050505;
                                }
                            }
                            
                        }

                        .dropdown-components-inner-wrapper:hover {
                            background-color: rgb(240, 242, 245);
                        }
                    }
                    
                    .dropdown-components-user-outer-wrapper {
                        padding-top: 8px;
                        width: 344px;
                    }

                    .dropdown-divider {
                        width: 328px;
                        border: 1px solid rgb(206, 208, 212);
                        margin: 8px 16px;
                    }
                }
            }
            
        }

        .user-component:hover {
            background-color: #d8dadf;
            cursor: pointer;
        }

    }

    .icon-messages {
        position: absolute;
        background-color: #39393a;
        padding: 9px 13px;
        color: #d8dadf;
        opacity: .9;
        z-index: 1;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 13px;
        top: 63px;
        border-radius: 7px;
    }

    .icon-messages-home {
        left: 410px;
    }

    .icon-messages-pages {
        left: 548px;
    }

    .icon-messages-watch {
        left: 686px;
    }

    .icon-messages-marketplace {
        left: 807px;
    }

    .icon-messages-groups {
        left: 961px;
    }

    .icon-messages-create {
        left: 1221px;
    }

    .icon-messages-messanger {
        left: 1258px;
    }

    .icon-messages-notifications {
        left: 1304px;
    }

    .icon-messages-account {
        left: 1360px;
    }
}

.icon-selected {
    color: rgb(34, 123, 239);
}

.last-nav-main-li {
    margin-right: 0px;
}

.nav-main-primary-bottom { 
    box-sizing: content-box;
    border-bottom: 1px solid rgb(56, 135, 240);
    height: 56px;
    width: 129.6px;
    padding-top: 3px;
    margin-right: 9px;
    display: flex;
    align-items: center;
    cursor: pointer;

    .nav-main-secondary-bottom { 
        box-sizing: content-box;
        width: 129.6px;
        height: 51px;
        padding-bottom: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid rgb(34, 123, 239);
    }
}
