@font-face {
   font-family: 'Name of Font';
   src: url('/path-to/font-file.file-extension')
}

.splash-page {
    .splash-header {
        background-color: #3b5998;
        height: 82px;
        border-bottom: 1px solid #1c1e21;
        background-image: linear-gradient(#4e69a2, #3b5998 50%);

        .splash-header-content {
            display: flex;
            justify-content: space-between;
            width: 980px;
            margin: 0 auto;
            box-sizing: border-box;
            padding-top: 13px;
        

            .splash-logo {
                color: #feffff;
                font-family: Roboto, Open Sans, Verdana, sans-serif;
                font-size: 34px;
                font-weight: 600;
                margin-top: 12px;
            }

            .splash-login-form {
                display: flex;

                .label-wrapper{
                    display: flex;
                    flex-direction: column;
                    padding-left: 14px;
                    font-family: Roboto, Open Sans, Verdana, sans-serif;
                    font-size: 13px;

                    .login-email, .login-password {
                        display: flex;
                        flex-direction: column;
                        color: #feffff;
                        font-weight: 400;
                        margin-bottom: 4px;
                    }

                    input {
                        background-color: white;
                        height: 24px;
                        color: black;
                        width: 150px;
                        padding: 3px 3px 4px 3px;
                        border: 1px solid rgb(30, 44, 90);
                    }

                    span {
                        
                        margin-top: 5px;
                        color: #9cb4d8;
                    }
                }

                .button-wrapper {
                    padding-left: 14px;
                    display: flex;
                    align-items: center;

                    .login-button {
                        background-color: #4267b2;
                    
                        .login-button-text {
                            box-sizing: content-box;
                            font-family: Roboto, Open Sans, Verdana, sans-serif;
                            color: #feffff;
                            font-size: 12px;
                            font-weight: 600;
                            height: 18px;
                            width: 36px;
                            padding: 2px 6px;
                            border: 1px solid #35548f;
                            border-radius: 7%;

                        }
                    }
                }

                .login-button:hover {
                    background-color: #365899;
                }
            }
        }
    }

    .splash-main {
        background-color: #edf0f5;

        .splash-main-content {
            display: flex;
            flex-direction: row;
            box-sizing: content-box;
            width: 980px;
            margin: 0 auto;
            padding-top: 20px;
            padding-bottom: 20px;

            .splash-main-left {
                box-sizing: content-box;
                width: 565px;
                display: flex;
                flex-direction: column;
                margin-right: 16px;

                .splash-connect {
                    box-sizing: content-box;
                    color: #333;
                    font-size: 28px;
                    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
                    font-weight: bold;
                    line-height: 36px;
                    height: 72px;
                    width: 420px;
                    padding: 42px 0px 24px 0px
                }

                .splash-newfeed {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 14px;
                    padding-bottom: 10px;

                    .newspaper-icon {
                        color: #afbbd4;
                        height: 56px;
                        width: 56px;
                        margin-right: 16px;
                    }

                    .newspaper-text {
                        color: #333;
                        font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
                        font-size: 17px;
                        font-weight: bold;
                        line-height: 22px;
                        margin-right: 2px;
                    }

                    .newspaper-text-2 {
                        font-family: Roboto, Open Sans, Verdana, sans-serif;
                        color: #666;
                        margin-left: 3px;
                    }
                }

                .splash-share {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 14px;
                    padding-bottom: 10px;

                    .share-icon {
                        color: #afbbd4;
                        height: 56px;
                        width: 56px;
                        margin-right: 16px;
                    }

                    .share-text {
                        color: #333;
                        font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
                        font-size: 17px;
                        font-weight: bold;
                        line-height: 22px;
                        margin-right: 2px;
                    }

                    .share-text-2 {
                        font-family: Roboto, Open Sans, Verdana, sans-serif;
                        color: #666;
                        margin-left: 3px;
                    }
                }

                .splash-find {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 14px;
                    padding-bottom: 10px;

                    .find-icon {
                        color: #afbbd4;
                        height: 56px;
                        width: 56px;
                        margin-right: 16px;
                    }

                    .find-text {
                        color: #333;
                        font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
                        font-size: 17px;
                        font-weight: bold;
                        line-height: 22px;
                        margin-right: 2px;
                    }

                    .find-text-2 {
                        font-family: Roboto, Open Sans, Verdana, sans-serif;
                        color: #666;
                        margin-left: 3px;
                    }
                }
            }

            .splash-main-right {
                display: flex;
                flex-direction: column;


                .signup-header {
                    box-sizing: content-box;
                    color: #333;
                    font-size: 36px;
                    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
                    font-weight: bold;
                    line-height: 1.2;
                    margin-bottom: 5px;
                }

                .signup-header-2 {
                    color: #333;
                    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
                    font-size: 19px;
                    line-height: 1.26;
                    margin-bottom: 20px;
                }

                .splash-signup-form {
                    display: flex;
                    flex-direction: row;
                    font-family: Roboto, Open Sans, Verdana, sans-serif;

                    .signup-row-one {
                        display: flex;
                        justify-content: space-between;
                        box-sizing: content-box;
                        width: 399px;
                        height: 49px;

                        .signup-fname {
                            box-sizing: content-box;
                            color: rgb(153, 153, 153);
                            background-color: rgb(255, 255, 255);
                            padding: 8px 10px;
                            border: 1px solid rgb(190, 199, 216);
                            height: 21px;
                            width: 172px;
                            border-radius: 5px;
                        }

                        .signup-lname {
                            box-sizing: content-box;
                            color: rgb(153, 153, 153);
                            background-color: rgb(255, 255, 255);
                            padding: 8px 10px;
                            border: 1px solid rgb(190, 199, 216);
                            height: 21px;
                            width: 172px;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}